.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-content__left {
  max-width: 720px;
}
.main-title {
  margin-top: 212px;
  font-family: var(--montserrat-font);
  font-size: 96px;
  font-weight: 700;
  line-height: 110px;
  text-align: left;
  text-transform: uppercase;
}
.main-subtitle {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.main-subcontent {
  margin-top: 50px;

  display: flex;
  align-items: center;
}
.main-btn {
  display: flex;
  gap: 20px;
  background: linear-gradient(135deg, #984994 6.95%, #7a3777 39.15%);
  border-radius: 31px;
  padding: 20px;
}

.main-btn a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.main-btn img {
  transition: margin-left 0.3s ease;
}
.main-btn:hover img {
  margin-left: 10px;
}
.main-photos {
  display: flex;
  margin-left: 43px;
  margin-right: 22.28px;
}

.main-photos img {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;

  width: 46px;
  height: 100%;
  object-fit: contain;

  position: relative;
  margin-left: -15px;
}
.main-stars {
  display: flex;
  gap: 5.16px;
  margin-right: 8.81px;
}
.main-img-static {
  position: absolute;
  top: 0;
  left: 22%;
  margin-top: 27px;
}

.main-ellipse-img {
  position: absolute;
  z-index: -1;
}

@media (max-width: 900px) {
  .main-img-static {
    top: 50px;
    z-index: -1;
  }
  .main-ellipse-img {
    z-index: -2;
  }
  .main-content__right {
    position: absolute;
    z-index: -1;
    right: 0;
  }
}

@media (max-width: 800px) {
  .main-content__left {
    display: flex;
    flex-direction: column;
    /* max-width: 250px; */
  }
  .main-title {
    /* margin-top: 20px; */
    font-size: 50px;
    line-height: 50px;
  }
  .main-btn a {
    font-size: 8px;
  }
}

@media (max-width: 455px) {
  .main-subcontent {
    flex-direction: column;
    gap: 15px;
  }
  .main-title {
    font-size: 30px;
    line-height: 35px;
    margin-top: 80px;
  }
  .main-subtitle {
    font-size: 10px;
  }
  .main-img-static {
   display: none;
   
  }
}
