.partners-container {
  margin: 216px 100px 100px;
}
.partners-head {
  align-items: center;
  text-align: center;
}
.partners-head p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
}
.partners-head h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}
.partners-company {
  margin-top: 82px;
}
.partners-company-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 80px;
}
.partners-company-img img {
  width: 260px;
  background-color: #fff;
  padding: 10px;
}

#yandex {
  height: 90px;
}
#bitrix {
  height: 90px;
}
#wakeup {
  padding: 0;
}
#cdt {
  height: 90px;
}
#spec {
  height: 90px;
}
#geo {
  height: 90px;
  padding: 0;
}
#zoomlion {
  padding: 0;
  height: 110px;
  background-color: inherit;
}
#first {
  height: 90px;
}

@media (max-width: 1100px) {
  .partners-container {
    margin: 80px 20px;
  }
  .partners-company {
    margin-top: 60px;
  }
  .partners-company img {
    max-width: 100%;
  }
}
@media (max-width: 695px) {
  .partners-container {
    margin: 10px;
    margin-top: 50px;
  }
  .partners-head h3 {
    font-size: 30px;
  }
  #rosdorsnab {
    margin-bottom: 80px;
  }
}
@media (max-width: 465px) {
  .partners-head h3 {
    font-size: 20px;
  }
  .partners-head p {
    font-size: 18px;
    margin-bottom: 0;
  }
}
