.partners-container {
  margin: 216px 100px 100px;
}
.partners-head {
  align-items: center;
  text-align: center;
}
.partners-head p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
}
.partners-head h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}
.partners-company {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.partners-company-img {
  display: flex;
  gap: 80px;
}
/* .partners-company img {
  max-width: 50%;
  height: auto; 
} */
@media (max-width: 1915px) {
  .partners-company-img {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 1100px){
  .partners-container {
    margin: 80px 20px;
}
  .partners-company {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .partners-company img {
    max-width: 100%; 
  }
}
@media (max-width: 695px) {
  .partners-container {
    margin: 10px;
  }
  .partners-head h3 {
    font-size: 30px;
  }
  .partners-company {
    margin-top: 20px;
  }
}
@media (max-width: 400px) {
  .partners-head h3 {
    font-size: 20px;
  }
  .partners-head p {
    font-size: 18px;
    margin-bottom: 0; 
  }
}
