.faqs {
  position: relative;
}
.faqs-vector-img {
  position: absolute;
  z-index: -1;
}
.faqs-container {
  /* position: relative; */
  margin-top: 202px;
}

.faqs-title {
  padding: 91px 157px 0;
  /* position: absolute; */
  display: flex;
  gap: 344px;
}

.faqs-description {
  text-align: left;
  color: #000;
}
.faqs-description p {
  font-size: 23px;
  font-weight: 500;
  line-height: 24px;

  margin-bottom: 24px;
}
.faqs-description h2 {
  font-size: 65px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  color: rgba(26, 24, 25, 1);

  margin-bottom: 34px;
}
.faqs-description span {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: rgba(26, 24, 25, 1);
}
.faqs-buttons {
  margin-top: 63px;
}
.faqs-buttons button {
  font-size: 23px;
  font-weight: 500;
  line-height: 14px;

  border-radius: 100px;
  border: 1px solid #fff;
  padding: 24px 28px;
  margin-right: 17px;
  margin-bottom: 23px;
}

.faqs-buttons .faqs-btn {
  /* color: #000; */
  background: linear-gradient(108.68deg, #c478bf 6.95%, #984994 39.15%);
  border: none;
}

.faqs-items-container {
  margin: 117px 238px 200px 212px;
}
.faqs-item {
  padding: 60px 0;
  border-bottom: 2px solid rgba(197, 197, 197, 1);
}
.faqs-item:last-child {
  border-bottom: none;
}
.faqs-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  color: rgba(197, 197, 197, 1);
  font-weight: 500;
  /* line-height: 14px; */
}
.faqs-question ul {
  font-size: 40px;
  margin-right: 49px;
}
.faqs-question h4 {
  font-size: 50px;
}
.faqs-question-title {
  display: flex;
}

.faqs-includes-text h3 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 27px;
}

.faqs-includes-text li {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
.faqs-answer {
  max-height: 0;
  max-width: 1470px;
  display: flex;
  gap: 68px;
  align-items: center;
  overflow: hidden;

  transition: max-height 1s ease, margin-top 1s ease;
}
.faqs-button img {
  transition: transform 1s ease;
}
.faqs-item.active .faqs-question-title {
  background: linear-gradient(92.64deg, #c478bf 42.56%, #984994 45.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faqs-item.active .faqs-answer {
  /* margin-bottom: 72px; */
  margin-top: 44px;
  max-height: 500px;
  display: flex;
}
.faqs-item.active .faqs-button img {
  transform: rotate(180deg);
}
.faqs-under-vector {
  position: absolute;
  bottom: -398px;
  right: 0;
}

.faqs-button {
  position: relative;
  display: inline-block;
  padding: 26px 23px;
  border-radius: 50%;
  background-color: var(--page-bg);
  /* color: var(--text-color); */
}
.faqs-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 50%;
  background: linear-gradient(93.98deg, #c478bf 46.75%, #984994 91.85%);
}
@media (max-width: 1440px) {
  .faqs-item.active .faqs-answer {
    display: block;
  }
  .faqs-items-container {
    margin: 40px;
  }
  .background-gradient {
    margin-top: 15px;
  }
  .faqs-title {
    display: block;
    padding: 20px 50px;
  }

  .faqs-buttons {
    margin-top: 100px;
  }
}

@media (max-width: 645px) {
  .faqs-button img {
    width: 25px;
    height: 18px;
  }
  .faqs-button {
    padding: 14px 10px;
  }
  .faqs-question ul {
    font-size: 30px;
  }
  .faqs-question h4 {
    font-size: 30px;
  }
  .faqs-description p {
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .faqs-description h2 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(26, 24, 25, 1);
    margin-bottom: 5px;
  }
}

@media (max-width: 485px) {
  .faqs-title {
    padding: 20px 10px 0;
  }
  .faqs-description p {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 20px;
  }
  .faqs-description h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .faqs-description span {
    font-size: 15px;
    line-height: 5px;
    max-width: 321px;
  }
  .faqs-buttons {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .faqs-buttons button {
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 100px;
    border: 1px solid #fff;
    padding: 15px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .faqs-items-container {
    margin: 0 10px;
  }

  .faqs-question ul {
    font-size: 16px;
  }
  .faqs-question h4 {
    font-size: 16px;
  }
  .faqs-item {
    padding: 20px 0;
  }
  .faqs-includes-text h3 {
    font-size: 20px;
  }
  .faqs-includes-text li {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .faqs-description h2{
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .faqs-description p {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 10px;
  }
  .faqs-description span{
    font-size: 12px;
  }
}
