
.experts {
  position: relative;
}
.experts-container {
  margin: 0 128px 82px 103px;
}
.experts-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}
.experts-title p {
  font-size: 20px;
  font-weight: 500;
}
.experts-title h2 {
  font-size: 65px;
  font-weight: 700;
}
.experts-subtitle {
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;

  max-width: 642px;
  padding-left: 32px;
  border-left: 2px solid #fff;
}
.experts-subtitle-bold {
  font-weight: bold;
}
.experts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  text-align: right;
}
.experts-item h4 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 46px;
  margin-bottom: 13px;
  transition: font-size 0.6s ease;
}
/* .experts-item:hover h4{
  font-size: 28px;
} */
.experts-item p {
  font-size: 18px;
  font-weight: 400;
  transition: font-size 0.6s ease;
}
/* .experts-item:hover p{
  font-size: 21px;
} */

.experts-ellipse-img {
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: -617px;
}

@media (max-width: 1440px) {
.experts-container {
  margin-top: 30px;
}
}
@media (max-width: 1000px) {
  .experts-container {
    margin: 0 10px 82px;
  }
  .experts-head {
    display: block;
  }
  .experts-title h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .experts-grid{
    gap: 30px;
  }
}
@media (max-width: 645px) {

}
@media (max-width: 485px) {
  .experts-subtitle {
    font-size: 12px;
    line-height: 20px;

  }
  .experts-head {
    margin-bottom: 30px;
  }
  .experts-item h4 {
    font-size: 15px;
  }
  .experts-item p {
    font-size: 12px;
  }
}