.main-container {
  margin: 0 84px;
}

.background-gradient {
  background: linear-gradient(108.68deg, #C478BF 6.95%, #984994 39.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

